.ux-search-button {
  accent-color: var(--ux-search-color-accent);

  &:focus-visible {
    outline: var(--tblr-focus-ring-width) solid var(--tblr-focus-ring-color);
    outline-offset: var(--tblr-focus-ring-offset);
  }
}