# ======================================================================
# Composer
# ======================================================================
/composer.lock
/composer.phar
/vendor/

# ======================================================================
# NPM
# ======================================================================
/node_modules

# ======================================================================
# PHPUnit
# ======================================================================
/.phpunit.cache
/phpunit.xml
/coverage/

# ======================================================================
# PHP CS Fixer
# ======================================================================
/.php-cs-fixer.cache

# ======================================================================
# AssetMapper
# ======================================================================

tests/TestApplication/assets/vendor

# ======================================================================
# TestApp
# ======================================================================
tests/TestApplication/var/data.db
tests/TestApplication/config/reference.php
