:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
  --ux-search-color-text: var(--tblr-body-color);
  --ux-search-color-text-soft: var(--tblr-secondary-color);
  --ux-search-color-background: var(--tblr-bg-surface);
  --ux-search-color-border: var(--tblr-border-color);
  --ux-search-color-border-soft: var(--tblr-border-color-translucent);
  --ux-search-color-primary: var(--tblr-primary);
  --ux-search-color-primary-text: #ffffff;
  --ux-search-color-secondary: var(--tblr-secondary-bg);
  --ux-search-color-secondary-text: var(--tblr-secondary-color);
  --ux-search-color-accent: var(--tblr-primary);
  --ux-search-color-accent-hover: var(--tblr-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ux-search-color-text: var(--tblr-body-color);
    --ux-search-color-text-soft: var(--tblr-secondary-color);
    --ux-search-color-background: var(--tblr-bg-surface);
    --ux-search-color-border: var(--tblr-border-color);
    --ux-search-color-border-soft: var(--tblr-border-color-translucent);
    --ux-search-color-primary: var(--tblr-primary);
    --ux-search-color-primary-text: #ffffff;
    --ux-search-color-secondary: var(--tblr-secondary-bg);
    --ux-search-color-secondary-text: var(--tblr-secondary-color);
    --ux-search-color-accent: var(--tblr-primary);
    --ux-search-color-accent-hover: var(--tblr-primary);
  }
}

.ux-search {
  color: var(--ux-search-color-text);
}
