:root {
  --ux-search-rounded-sm: var(--tblr-border-radius-sm);
  --ux-search-rounded-md: var(--tblr-border-radius-md);
  --ux-search-rounded-lg: var(--tblr-border-radius-lg);
  --ux-search-rounded-xl: var(--tblr-border-radius-xl);
  --ux-search-rounded-full: 9999px;
}